*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.timer{
    display: flex;
    position: absolute;
    width:100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20rem;
    z-index:2;
}
.countDown{
    height: 100vh;
    width: 100%;
}
i.fullScreen{
    position: absolute;
    background-image: url('./img/arrow.png');
    background-size: cover;
    width:3rem;
    height: 3rem;
    bottom: 15px;
    right:15px;
    opacity: 0.3;
    cursor: pointer;
    z-index:2;
}
i.endFullScreen{
    display: none;
    position: absolute;
    background-image: url('./img/minimize.png');
    background-size: cover;
    width:3rem;
    height: 3rem;
    bottom: 15px;
    right:15px;
    opacity: 0.3;
    cursor: pointer;
    font-weight:bold;
    z-index:2;
}
.backgroundSetting{
    height: 30vh;
    display: flex;
    flex-direction: column;

    align-items:center;
}
div.container{
    display: flex;
    /* margin-top: 2rem; */
    
}
div.set{
    margin:1.5rem;
}
label{
    font-weight: bold;
}